page-about {

    ion-content, ion-item {
        background: map-get($colors, lighter) !important;
    }

    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            @include backgroundColor();
        }
    }

    background-color: white;

    .label-title {
        font-weight: 700;
        font-size: 16px;
    }

    .appTitle {
        font-weight: 700;
        font-size: 20px;
    }

}

.md {
    page-about {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-about {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}