<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>
      <span id="ionTitle" text-uppercase>About</span>
    </ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines>

    <ion-item text-center>
      <div class="appTitle">Pensure App</div>
      <div>Version {{versionNumber}}</div>
    </ion-item>

    <ion-item>
      <img src="assets/images/leadway2.png" />
    </ion-item>

    <ion-item text-center>
      <div class="label-title">Platform</div>
      <div>{{deviceOs}}</div>
    </ion-item>

    <ion-item text-center>
      <div class="label-title">Platform Version</div>
      <div>{{deviceVersion}}</div>
    </ion-item>
  </ion-list>

</ion-content>
