page-change-pin {

    background-color: map-get($colors, lighter);

    ion-item {
        border-bottom: 2px solid map-get($colors, light) !important;

        ion-label, ion-input, button {
            font-weight: bold;
        }

        ion-label {
            color: map-get($colors, dark) !important;
        }

        button {
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
            height: 40px !important;
            width: 50% !important;
        }
    }

    ion-item:last-child {
        border-bottom: none !important;
    }

    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }
}

.md {
    page-change-pin {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-change-pin {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}

.wp {
    page-change-pin {
        ion-item {
            border-bottom: none !important;
        }

        ion-input {
            border: 2px solid map-get($colors, light);
        }
    }
}