<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Change Pin</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list no-lines>
    <ion-item>
      <ion-label color="primary" stacked>Current Mobile Pin</ion-label>
      <ion-input [(ngModel)]="oldPin" type="password" placeholder="Enter your current pin" maxlength="4">{{oldPin}}</ion-input>
    </ion-item>

    <ion-item>
      <button ion-button round class="custom-button" color="secondary" text-capitalize (click)="submit()">Submit</button>
    </ion-item>
  </ion-list>

</ion-content>
