<ion-content no-padding class="ionContent">

  <ion-list>
    <ion-item>
      <!-- <img src="assets/images/leadway2.png" width="70px" height="70px" class="small-img" /><br/> -->
      <img [src]="imageURL" class="img"/>
      <p text-center>Welcome {{userName}}</p>
    </ion-item>

    <ion-item>
      <h3 text-center>Enter your mobile pin or <strong><a (click)="getHelp()">Get Help</a></strong></h3>
    </ion-item>

    <ion-item class="lastItem">
      <ion-input type="password" item-left text-center maxlength="1" readonly="true" [(ngModel)]="input1">{{input1}}</ion-input>
      <ion-input type="password" item-left text-center maxlength="1" readonly="true" [(ngModel)]="input2">{{input2}}</ion-input>
      <ion-input type="password" item-left text-center maxlength="1" readonly="true" [(ngModel)]="input3">{{input3}}</ion-input>
      <ion-input type="password" item-left text-center maxlength="1" readonly="true" [(ngModel)]="input4">{{input4}}</ion-input>
    </ion-item>

  </ion-list>
  <!-- [rightActionOptions]="keyboardSettings.rightActionOptions"  -->
  <ion-digit-keyboard 
    (buttonClick)="onKeyboardButtonClick($event)"
    [align]="keyboardSettings.align"
    [width]="keyboardSettings.width"
    [visible]="keyboardSettings.visible"
    [leftActionOptions]="keyboardSettings.leftActionOptions"
    [roundButtons]="keyboardSettings.roundButtons"
    [showLetters]="keyboardSettings.showLetters"
    [swipeToHide]="keyboardSettings.swipeToHide"
    [theme]="keyboardSettings.theme"
  >
  </ion-digit-keyboard>

</ion-content>