page-login {
    background-image: url('../assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    a {
        color: map-get($colors, secondary);
        font-size: 16px;
        font-weight: bold;
    }

    .lastItem {
        padding-left: 20% !important;
    }

    ion-input {
        border: none !important;
        border-bottom: 2px solid map-get($colors, lighter) !important;
        color: white !important;
    }

    button {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        color: map-get($colors, lighter) !important;
        font-weight: bold !important;
    }

     ion-list {
        padding-top: 10%;
    }

    .ionContent {
        background-color: rgba(map-get($colors, dark), 0.5);
    }

    .small-img {
        position: absolute;
        right: 0;
        top: 0;
        border: none !important;
    }

    .img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid rgba(map-get($colors, lighter), 0.8);
    }

    p {
        font-size: 18px !important;
    }

    p, h3 {
        color: map-get($colors, lighter) !important;
        font-weight: bold !important;
    }

    @media screen and (min-height: 700px) {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 2px solid rgba(map-get($colors, lighter), 0.8);
        }
    }
}

.md {
    page-new-pin {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}