<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Transactions</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="closePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-padding class="ionContent">

  <ion-list>
    <ion-item *ngFor="let t of transactionData" (click)="tranDetails(t)">
      <h3>{{t.dateField}}</h3>
      <p>{{t.descriptionField}}</p>
      <ion-note item-right color="primary">₦{{t.totalField}}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>
