page-transaction {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    background-color: map-get($colors, lighter);

    .ionContent {
        background-color: map-get($colors, lighter);
    }

    ion-note, h3 {
        font-weight: bold !important;
    }

    ion-item {
        border-bottom: 2px solid map-get($colors, light) !important;

        p {
            color: map-get($colors, primary) !important;
        }
    }
    
}

.md {
    page-transaction {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-transaction {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}
