<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Search</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list no-lines>
    <ion-item>
      <ion-label stacked class="ion-label">Fund Type</ion-label>
      <ion-select [(ngModel)]="accountType">
        <ion-option value="RSA">RSA</ion-option>
        <ion-option value="retiree">Retiree Fund</ion-option>
        <ion-option value="gratuity">Guiness Gratuity Fund</ion-option>
      </ion-select>
    </ion-item>

    <button ion-item (click)="pickDate('startdate', startDate)" class="dateSelector">
      <h3>Start Date</h3>
      <p>{{startDate}}</p>
    </button>

    <button ion-item (click)="pickDate('enddate', endDate)" class="dateSelector">
      <h3>End Date</h3>
      <p>{{endDate}}</p>
    </button>

    <ion-item>
      <button ion-button round text-capitalize class="custom-button" color="secondary" (click)="showTransactions()">
        Get Transactions
      </button>
    </ion-item>
  </ion-list>

</ion-content>
