page-search-transaction {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            // background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    background-color: map-get($colors, lighter);

    ion-label {
        font-weight: bold !important;
        color: map-get($colors, dark) !important;
        font-size: 14px !important;
    }

    ion-item {
        border-bottom: 2px solid map-get($colors, light) !important;

        button {
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
            height: 40px !important;
            width: 50% !important;
            font-weight: bold !important;
        }
    }

    .dateSelector {
        border-bottom: 2px solid map-get($colors, light) !important;
    }

    p {
        color: map-get($colors, primary) !important;
        font-size: 16px !important;
    }

    ion-item:last-child {
        border-bottom: none !important;
    }

    ion-select, h3, p {
        font-weight: bold !important;
    }
}

.md {
    page-search-transaction {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-search-transaction {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}

.wp {
    page-search-transaction {
        ion-item, .dateSelector {
            border-bottom: none !important;

            p {
                border: 2px solid map-get($colors, primary);
                height: 45px;
            }
        }

        .ion-label {
            margin-bottom: -12px !important;
        }
    }
}