<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Edit Profile</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-down"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item>
      <ion-label stacked >Title</ion-label>
      <ion-input [(ngModel)]="title">{{title}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked >Email Address</ion-label>
      <ion-input type="email" [(ngModel)]="email">{{email}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked >Mobile Number</ion-label>
      <ion-input type="tel" [(ngModel)]="mobileNo">{{mobileNo}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked class="ion-label">Gender</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-option value="M">MALE</ion-option>
        <ion-option value="F">FEMALE</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked class="ion-label">LGA</ion-label>
      <ion-select [(ngModel)]="lga">
        <ion-option *ngFor="let l of lgaData" [value]="l.label">{{l.label}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <button ion-button round class="custom-button" color="secondary" (click)="updateProfile()">
        Submit
      </button>
    </ion-item>
  </ion-list>

</ion-content>
