page-register-device {
    background-image: url('../assets/images/8.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .content {
        background-color: map-get($colors, lighter);
    }

    #submit-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
        text-transform: capitalize;
        width: 50%;
    }

    ion-label, #submit-button {
        font-weight: bold;
    }

    ion-item {
        border-bottom: 2px solid map-get($colors, light) !important;
        ion-input {
            font-weight: bold;
        }
    }

    ion-item:last-child {
        border-bottom: none !important;
    }

    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            // background-color: rgba(map-get($colors, primary),0.8);
            @include backgroundColor();
        }
    }

    ion-input {
        color: map-get($colors, primary) !important;
    }
}

.wp {
    page-register-device {
        ion-item {
            border-bottom: none !important;
        }

        ion-input {
            border: 2px solid map-get($colors, light) !important;
        }
    }
}

.md {
    page-register-device {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-register-device {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}
