<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Register Device</span></ion-title>

    <ion-buttons left (click)="leavePage()">
      <button ion-button icon-only>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding class="content">

  <ion-list no-lines>
    <ion-item>
      <ion-label stacked color="dark">RSA Pin</ion-label>
      <ion-input [(ngModel)]="pencomPin" type="text" placeholder="Enter your RSA Pin" (keyup)="enableButton()">{{pencomPin}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked color="dark">Mobile Pin</ion-label>
      <ion-input [(ngModel)]="mobilePin" type="password" maxlength="4" placeholder="Enter your mobile pin" (keyup)="enableButton()">{{mobilePin}}</ion-input>
    </ion-item>

    <ion-item>
      <button ion-button round color="secondary" class="custom-button" id="submit-button" [disabled]="disableButton" (click)="submit()">Submit</button>
    </ion-item>
  </ion-list>

</ion-content>
