page-branches {
    background-color: map-get($colors, lighter);

    .p {
        white-space: normal !important;
    }

    h2 {font-weight: bold !important;}

    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            // background-color: rgba(map-get($colors, primary),0.8);
            @include backgroundColor();
        }
    }

    ion-item-sliding {
        border-bottom: 8px solid map-get($colors, light) !important;
        height: 100px !important;

        ion-item{
            background-color: map-get($colors, lighter) !important;
            height: 100% !important;
        }

        button {
            font-weight: bold !important;
            text-transform: capitalize !important;
        }
    }

    ion-item-sliding:first-child {
        border-top: 8px solid map-get($colors, light) !important;
    }

    ion-item-options {
        border-bottom: 8px solid map-get($colors, light) !important;
        height: 100px !important;
    }

    ion-item-sliding:last-child {
        border-bottom: none !important;
        
        ion-item-options {
            border-bottom: none !important;
        }
    }

    i {
        font-size: 20px !important;
    }

    ion-col {
        font-size: 14px !important;
        font-weight: bold !important
    }
}

.md {
    page-branches {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-branches {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}
