<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Branches</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-down"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let b of branchData">
      <ion-item >
        <h2 class="p">{{b.Location}}</h2>
        <p class="p">{{b.OfficeAddress}}</p>
        <ion-icon name="md-more" item-right (click)="showSlide()"></ion-icon>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button clear (click)="callPhoneNumber(b.PhoneNo)" color="primary">
          <ion-icon name="call"></ion-icon>
          Call
        </button>

        <button ion-button clear (click)="sendSMS(b.PhoneNo)" color="secondary">
          <ion-icon name="text"></ion-icon>
          Text
        </button>

        <button ion-button clear (click)="sendEmail(b.EmailAddress)" color="primary">
          <ion-icon name="mail"></ion-icon>
          Email
        </button>

        <button ion-button clear (click)="getDirection(b.Latitude, b.Logintitude, b.Location)" color="secondary">
          <ion-icon name="md-locate"></ion-icon>
          Find
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
