page-subscription {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    background-color: map-get($colors, lighter);

    ion-label {
        white-space: normal !important;
    }

    ion-item {
        button {
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
            height: 40px !important;
            width: 50% !important;
            font-weight: bold !important;
        }
    }
}

.md {
    page-subscription {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-subscription {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }

            ion-item {
                border-bottom: 2px solid map-get($colors, light) !important;
            }

            ion-item:last-child {
                border-bottom: none !important;
            }
        }
    }
}