<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Subscription</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-down"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines *ngIf="showList">
    <ion-item>
      <ion-label>Send me email on my birthday</ion-label>
      <ion-toggle [(ngModel)]="birthdayEmail" mode="md"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Send me newsletter email</ion-label>
      <ion-toggle [(ngModel)]="newsletterEmail" mode="md"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Send me statement of account (printed)</ion-label>
      <ion-toggle [(ngModel)]="printedStatement" mode="md"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Send me statement of account (email)</ion-label>
      <ion-toggle [(ngModel)]="mailStatement" mode="md"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Send me SMS on my birthday</ion-label>
      <ion-toggle [(ngModel)]="birthdaySMS" mode="md"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>SMS contribution notification</ion-label>
      <ion-toggle [(ngModel)]="smsContribution" mode="md"></ion-toggle>
    </ion-item>

    <ion-item>
      <button ion-button class="custom-button" round (click)="updateSettings()" color="secondary" text-capitalize>
        Update
      </button>
    </ion-item>
  </ion-list>

</ion-content>
