<ion-header>

  <ion-navbar>
    <ion-title><span id="ionTitle" text-uppercase>Calculator</span></ion-title>

    <ion-buttons end>
      <button ion-button clear text-capitalize (click)="close()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list no-lines *ngIf="pension">
    <ion-item>
      <ion-label stacked>How much do you want to collect per month after retirement?</ion-label>
      <ion-input type="number" [(ngModel)]="monthlyCollection" (keyup)="enableButton()">{{monthlyCollection}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>How long do you have to retirement?</ion-label>
      <ion-input type="number" [(ngModel)]="retirementNum" (keyup)="enableButton()">{{retirementNum}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>What return do you think you will get on your pensions? (Please note that percentage is a function of the prevailing market rate) %</ion-label>
      <ion-input type="number" [(ngModel)]="pensionReturns" (keyup)="enableButton()">{{pensionReturns}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>For how long after retirement do you wish to collect your pension?</ion-label>
      <ion-input type="number" [(ngModel)]="tenor" (keyup)="enableButton()">{{tenor}}</ion-input>
    </ion-item>
  </ion-list>

  <ion-list no-lines *ngIf="retirement">
    <ion-item>
      <ion-label stacked>Lump sum initial amount? (If any)</ion-label>
      <ion-input type="number" [(ngModel)]="openBalance" (keyup)="enableButton()">{{openBalance}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>How much do you contribute monthly?</ion-label>
      <ion-input type="number" [(ngModel)]="monthlyContribution" (keyup)="enableButton()">{{monthlyContribution}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>How many years do you have to retirement?</ion-label>
      <ion-input type="number" [(ngModel)]="yearsToRetire" (keyup)="enableButton()">{{yearsToRetire}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>What return do you think you will get on your pensions %?</ion-label>
      <ion-input type="number" [(ngModel)]="expectedReturn" (keyup)="enableButton()">{{expectedReturn}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>For how long after retirement do you wish to collect your pension?</ion-label>
      <ion-input type="number" [(ngModel)]="collectionPeriod" (keyup)="enableButton()">{{collectionPeriod}}</ion-input>
    </ion-item>
  </ion-list>

  <button id="submitButton" ion-button class="custom-button" round (click)="calculate()" text-capitalize color="secondary" [disabled]="disableButton">
    Calculate
  </button>

</ion-content>
