page-calculator-modal {

    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    background-color: map-get($colors, lighter);

    ion-label {
        white-space: normal !important;
        color: map-get($colors, dark) !important;
        font-weight: bold !important;
    }

    ion-input {
        border-bottom: 2px solid map-get($colors, light) !important;
        font-weight: bold !important;
    }

    #submitButton {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        height: 40px !important;
        width: 50% !important;
    }

    button {
        font-weight: bold !important;
    }

    ion-input {
        color: map-get($colors, primary) !important;
    }
}

.ios {
    page-calculator-modal {
        ion-header {
            button {
                font-size: 14px !important;
            }
        }

        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}

.wp {
    page-calculator-modal {
        ion-input {
            border: 2px solid map-get($colors, light) !important;
        }
    }
}

.md {
    page-calculator-modal {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}
