page-edit-employer {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    background-color: map-get($colors, lighter);

    ion-content {
        button {
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
            height: 40px !important;
            width: 50% !important;
        }

        ion-label, ion-input, button, h3 {
            font-weight: bold !important;
        }

        ion-label {
            color: map-get($colors, dark) !important;
        }

        ion-item {
            border-bottom: 2px solid map-get($colors, light) !important;
        }

        ion-item:last-child {
            border-bottom: none !important;
        }

        .p {
            color: map-get($colors, primary) !important;
            white-space: normal;
        }

        p {
            font-size: 16px !important;
        }

        h3 {
            font-size: 12px !important;
        }
    }
}

.md {
    page-edit-employer {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-edit-employer {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}

.wp {
    page-edit-employer {
        ion-item {
            border-bottom: none !important;
        }

        ion-input {
            border: 2px solid map-get($colors, light) !important;
        }

        .p {
            border: 2px solid map-get($colors, light);
            height: 45px;
            padding-top: 8px;
            padding-left: 10px;
        }
    }
}
