<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Change Employer Details</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-down"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines>
    <ion-item>
      <ion-label stacked>Employer Name</ion-label>
      <ion-input [(ngModel)]="employerName">{{employerName}}</ion-input>
    </ion-item>

    <ion-item (click)="selectDate()">
      <h3>Start Date</h3>
      <p *ngIf="startDate === ''">Enter start date</p>
      <p class="p">{{startDate}}</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Employer Address</ion-label>
      <ion-input [(ngModel)]="employerAddress">{{employerAddress}}</ion-input>
    </ion-item>

    <ion-item>
      <button ion-button round text-capitalize class="custom-button" color="secondary" (click)="updateEmployerDetails()">Submit</button>
    </ion-item>
  </ion-list>    

</ion-content>
