<ion-header>

  <ion-navbar>
    <ion-title><span id="ionTitle" text-uppercase>Profile</span></ion-title>

    <!--<ion-buttons left *ngIf="showMore">
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>-->

    <ion-buttons right>
      <button ion-button icon-only (click)="settings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-down"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list no-lines *ngIf="showLess">
    <ion-item>
      <img [src]="image" />
    </ion-item>

    <ion-item>
      <h2 text-center>{{userName}}</h2>
      <p text-center id="penPin">{{pencomPin}}</p>
    </ion-item>

    <ion-item>
      <p text-center>{{employer}}</p>
      <p text-center>{{mobileNo}}</p>
      <p text-center>{{email}}</p>
      <p text-center>{{dateOfBirth}}</p>
      <p text-center>{{userAddress}}</p>
      <p text-center>{{userAddress2}}</p>
      <p text-center>{{fileNo}}</p>
    </ion-item>
  </ion-list>

  <div *ngIf="showMore">
    <ion-item-group>
      <ion-item-divider color="light">Employer Details</ion-item-divider>
      <ion-item>
        <h3>Employer Name</h3>
        <p>{{employer}}</p>
      </ion-item>

      <ion-item>
        <h3>Date of 1st Employment</h3>
        <p>{{dateOfEmployment}}</p>
      </ion-item>

      <ion-item>
        <h3>Employer Address</h3>
        <p>{{employerAddress}}</p>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">Next of Kin Details</ion-item-divider>
      <ion-item>
        <h3>Title</h3>
        <p>{{kinTitle}}</p>
      </ion-item>

      <ion-item>
        <h3>Name</h3>
        <p>{{kinName}}</p>
      </ion-item>

      <ion-item>
        <h3>Mobile No</h3>
        <p>{{kinMobile}}</p>
      </ion-item>

      <ion-item>
        <h3>Email Address</h3>
        <p>{{kinEmail}}</p>
      </ion-item>

      <ion-item>
        <h3>Date of Birth</h3>
        <p>{{kinDob}}</p>
      </ion-item>
    </ion-item-group>
  </div>

  <ion-fab bottom right *ngIf="showLess">
    <button ion-fab color="secondary" (click)="showMoreDetails()">
      <ion-icon name="ios-arrow-down"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab top right *ngIf="showMore">
    <button ion-fab color="secondary" (click)="goBack()">
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
