page-profile {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    background-color: map-get($colors, lighter);

    h2 {
        font-size: 28px !important;
        font-weight: bold !important;
    }

    p {
        font-size: 16px !important;
        color: black !important;
        font-weight: bold !important;
        white-space: normal;
    }

    ion-item-group {
        ion-item {
            border-bottom: 2px solid map-get($colors, light) !important;
        }

        ion-item:last-child{
            border-bottom: none !important;
        }

        ion-item-divider {
            color: map-get($colors, primary) !important;
            font-size: 14px !important;
        }
    }

    #penPin {
        color: map-get($colors, secondary) !important;
        border: none !important;
    }

    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 3px solid rgba(map-get($colors, primary), 0.6);
    }

    @media screen and (min-height: 700px) {
        img {
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 250px;
            height: 250px;
            border-radius: 50%;
            border: 2px solid map-get($colors, primary);
        }

        #showMore {
            height: 60px;
        }
    }

    ion-refresher {
        background-color: map-get($colors, lighter) !important;
    }
}

.md {
    page-profile {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-profile {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}