<ion-tabs tabsPlacement="bottom" *ngIf="!platform.is('windows')">
  <ion-tab tabIcon="browsers" tabTitle="Account" [root]="tab1"></ion-tab>
  <ion-tab tabIcon="document" tabTitle="Benefit" [root]="tab2"></ion-tab>
  <ion-tab tabIcon="notifications" tabTitle="Messages" [root]="tab3"></ion-tab>
  <ion-tab tabIcon="person" tabTitle="Me" [root]="tab4"></ion-tab>
  <ion-tab tabIcon="more" tabTitle="More" [root]="tab5"></ion-tab>
</ion-tabs>

<ion-tabs tabsPlacement="bottom" *ngIf="platform.is('windows')">
  <ion-tab tabIcon="browsers" [root]="tab1"></ion-tab>
  <ion-tab tabIcon="document" [root]="tab2"></ion-tab>
  <ion-tab tabIcon="notifications" [root]="tab3"></ion-tab>
  <ion-tab tabIcon="person" [root]="tab4"></ion-tab>
  <ion-tab tabIcon="more" [root]="tab5"></ion-tab>
</ion-tabs>
