<ion-content no-padding class="content">

  <ion-list no-lines>
    <ion-item>
      <ion-label stacked>{{label1}}</ion-label>
      <ion-input [(ngModel)]="value1" disabled class="ion-input">{{value1}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{label2}}</ion-label>
      <ion-input [(ngModel)]="value2" disabled class="ion-input">{{value2}}</ion-input>
    </ion-item>
  </ion-list>

  <button ion-button clear color="primary" (click)="close()">OK</button>

</ion-content>
