page-calculator-pop {
    .content {
        background-color: map-get($colors, light);
    }

    ion-input {
        border-bottom: 1px solid map-get($colors, primary) !important;
        font-weight: bold !important;
        font-size: 18px;
        color: black !important;
    }

    ion-label {
        color: map-get($colors, dark) !important;
        font-weight: bold !important;
        white-space: normal !important;
        font-size: 13px !important;
    }

    button {
        font-weight: bold !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 18px !important;
    }
}
