<ion-header>

  <ion-navbar>
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>

    <ion-buttons right>
      <button ion-button clear (click)="selectedBranch('cancel')">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list no-lines>
    <button ion-item *ngFor="let b of branchData" (click)="selectedBranch(b)">
      {{b.bankBranchNameField}}
    </button>
  </ion-list>

</ion-content>
