page-bankbranch-modal {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    background-color: map-get($colors, lighter);

    ion-searchbar {
        background-color: map-get($colors, lighter) !important;
    }

    button {
        border-bottom: 2px solid map-get($colors, light) !important;
        white-space: normal !important;
    }
}

.ios {
    page-bankbranch-modal {
        ion-header {
            button {
                font-size: 14px !important;
            }
        }

        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}