page-branch-map {
    background-color: map-get($colors, lighter);

    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            // background-color: rgba(map-get($colors, primary),0.8);
            @include backgroundColor();
        }
    }

    #map {
        height: 100%;
        width: 100%;
    }
}

.md {
    page-branch-map {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-branch-map {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}