page-help {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            // background-color: rgba(map-get($colors, primary),0.8);
            @include backgroundColor();
        }
    }

    background-color: map-get($colors, lighter);
}

.md {
    page-help {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-help {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }

        ion-list {
            button {
                border-bottom: 2px solid map-get($colors, light) !important;
            }
        }
    }
}