<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Help</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list>
    <button ion-item (click)="resetPin()">
      Reset Mobile Pin
      <ion-icon name="lock" color="primary" item-left></ion-icon>
      <ion-icon name="ios-arrow-forward" item-right showWhen="ios"></ion-icon>
    </button>

    <button ion-item (click)="faq()">
      FAQ
      <ion-icon name="help-circle" color="primary" item-left></ion-icon>
      <ion-icon name="ios-arrow-forward" item-right showWhen="ios"></ion-icon>
    </button>

    <button ion-item (click)="branches()">
      Contact Us
      <ion-icon name="at" color="primary" item-left></ion-icon>
      <ion-icon name="ios-arrow-forward" item-right showWhen="ios"></ion-icon>
    </button>

    <button ion-item (click)="about()">
      About
      <ion-icon name="alert" color="primary" item-left></ion-icon>
      <ion-icon name="ios-arrow-forward" item-right showWhen="ios"></ion-icon>
    </button>
  </ion-list>

</ion-content>
