page-faq-modal {
    background-color: map-get($colors, lighter);

    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            // background-color: rgba(map-get($colors, primary),0.8);
            @include backgroundColor();
        }

        button {
            text-transform: capitalize !important;
            font-weight: bold !important;
        }
    }

    h2, h3{
        white-space: normal !important; 
    }

    h3 {
        color: map-get($colors, primary) !important;
    }

    h2 {
        font-weight: bold !important;
    }

    img {
        width: 50px;
        height: 50px;
    }

    ion-item {
        background-color: map-get($colors, lighter) !important;
    }

    #feedBack {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;

        ion-icon {
            font-size: 50px !important;
        }

        p {
            color: black !important;
            font-weight: bold !important;
        }
    }
}

.ios {
    page-faq-modal {
        ion-header {
            button {
                font-size: 14px !important;
            }
        }

        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}

.md {
    page-faq-modal {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}
