<ion-header>

  <ion-navbar>
    <ion-title><span id="ionTitle" text-uppercase>{{title}}</span></ion-title>
    
    <ion-buttons end>
      <button ion-button clear (click)="close()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list no-lines>
    <ion-item>
      <h2>{{name}}</h2>
    </ion-item>

    <ion-item>
      <h3>{{details}}</h3>
    </ion-item>

    <ion-item>
    </ion-item>
  </ion-list>

  <div id="feedBack" *ngIf="!response">
  <!--<div id="feedBack">-->
    <p text-center>{{feedbackMessage}}</p>

    <ion-row>
      <ion-col text-center *ngIf="showSad">
        <img src="assets/images/sad.png" (click)="feedbackEvent('sad')"/>
      </ion-col>

      <ion-col text-center *ngIf="showHappy">
        <img src="assets/images/happy.png" (click)="feedbackEvent('happy')"/>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
