<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Price Chart</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list no-lines>
    <ion-item>
      <ion-label stacked>Fund Type</ion-label>
      <ion-select [(ngModel)]="fundType">
        <ion-option value="rsa">RSA Fund</ion-option>
        <ion-option value="retiree">Retiree Fund</ion-option>
        <!-- <ion-option value="ggf">Guiness Gratuity Fund</ion-option> -->
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Duration</ion-label>
      <ion-select [(ngModel)]="duration">
        <ion-option value="2">Last 14 Days</ion-option>
        <ion-option value="3">Last 1 Month</ion-option>
        <ion-option value="4">Last 3 Months</ion-option>
        <ion-option value="5">Last 1 Year</ion-option>
        <ion-option value="6">Last 5 Years</ion-option>
        <ion-option value="0">Last Available Date</ion-option>
        <ion-option value="1">Year to Date</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Chart Type</ion-label>
      <ion-select [(ngModel)]="chartType">
        <ion-option value="lineChart">Line Chart</ion-option>
        <ion-option value="barChart">Bar Chart</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <button ion-button round class="custom-button" (click)="displayChart()" text-capitalize color="secondary">
        Display Chart
      </button>
    </ion-item>
  </ion-list>

</ion-content>
