page-chart {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    background-color: map-get($colors, lighter);

    ion-item {
        button {
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
            height: 40px !important;
            width: 50% !important;
            font-weight: bold !important;
        }

        ion-select {
            border-bottom: 2px solid map-get($colors, light) !important;
            font-weight: bold !important;
        }

        ion-label {
            font-weight: bold !important;
            color: map-get($colors, dark) !important;
        }
    }
}

.md {
    page-chart {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.wp {
    page-chart {
        ion-select {
            border: 2px solid map-get($colors, primary) !important;
            // padding-top: 8px !important;
            // padding-bottom: 12px !important;
        }
    }
}

.ios {
    page-chart {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}