page-settings {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    background-color: map-get($colors, light);

    ion-item-group {
        button {
            border-bottom: 2px solid map-get($colors, light) !important;
            background-color: map-get($colors, lighter) !important;
        }
    }
}

.md {
    page-settings {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-settings {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}