<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Settings</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-item-group>
    <button ion-item (click)="changePersonalData()">
      <ion-icon color="blueish" name="person" item-left></ion-icon>
      Change Personal Details
    </button>

    <button ion-item (click)="changeEmployerData()">
      <ion-icon color="blueish" name="people" item-left></ion-icon>
      Change Employer Details
    </button>

    <button ion-item (click)="changePin()">
      <ion-icon color="blueish" name="lock" item-left></ion-icon>
      Change Mobile Pin
    </button>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item (click)="subscription()">
      <ion-icon color="blueish" name="construct" item-left></ion-icon>
      Subscription
    </button>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light"></ion-item-divider>
    <button ion-item (click)="signOut()">
      <ion-icon color="danger" name="log-out" item-left></ion-icon>
      Logout
    </button>
  </ion-item-group>

</ion-content>
