page-notification {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    background-color: map-get($colors, lighter);

    ion-refresher, ion-refresher-content {
        background-color: map-get($colors, lighter) !important;
    }

    ion-item {
        h2 {
            white-space: normal;
        }

        border: 2px solid map-get($colors, light) !important;
    }
}

.md {
    page-notification {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-notification {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}