<ion-header>

  <ion-navbar>
    <ion-title><span id="ionTitle" text-uppercase>Messages</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-down"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list *ngIf="notificationData !== ''">
    <ion-item *ngFor="let m of notificationData" (click)="viewMessage(m)">
      <h2>{{m.title}}</h2>
      <p>{{m.dateAdded | date}}</p>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="notificationMsg !== ''">
    <ion-item>
      {{notificationMsg}}
    </ion-item>
  </ion-list>

</ion-content>
