// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$background-color: transparent;
$font-family-base: "Lato";

$font-family-md-base: $font-family-base;
$font-family-ios-base: $font-family-base;

$segment-button-md-border-bottom-color: transparent;
$toast-width: 98%;
$segment-button-md-opacity: 0.4;
$segment-button-md-border-bottom-width: 3px;

$text-input-ios-highlight-color: transparent;
$text-input-md-highlight-color: transparent;
$text-input-wp-highlight-color: transparent;

$text-input-wp-border-color: transparent;
$select-wp-border-color: rgb(248,130,44);;

$select-wp-icon-color: rgb(248,130,44);
$select-md-icon-color: rgb(248,130,44);
$select-ios-icon-color: rgb(248,130,44);

$text-input-wp-line-height: 2rem;
$select-wp-padding-vertical: 8px;

$alert-wp-width: 80%;
$popover-wp-border: 2px solid rgb(248,130,44);
$refresher-border-color: none;

$toolbar-ios-background: transparent;
$toolbar-md-background: transparent;
$toolbar-wp-background: transparent;

$item-md-avatar-size: 50px;
$item-ios-avatar-size: 50px;
$item-wp-avatar-size: 50px;

$list-ios-border-color: transparent;
$list-md-border-color: transparent;
$list-wp-border-color: transparent;

$text-input-ios-highlight-color-invalid: transparent;
$text-input-md-highlight-color-invalid: transparent;
$text-input-wp-highlight-color-invalid: transparent;

$text-input-ios-highlight-color-valid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-wp-highlight-color-valid: transparent;

$toolbar-ios-height: 60px;
$toolbar-wp-height: 60px;
$toolbar-md-height: 60px;

$toolbar-wp-title-font-size: 1.6rem;
$toolbar-md-title-font-size: 1.6rem;
$toolbar-ios-title-font-size: 1.6rem;

$popover-ios-width: 300px;
$popover-md-width: 300px;
$popover-wp-width: 300px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  // primary:    rgb(17,56,128),
  primary:    rgb(248,130,44),
  // secondary:  #fdc844,
  secondary:  rgb(248,130,44),
  // blueish:     #08a7ff,
  blueish:     #4ca0d6,
  danger:     #f53d3d,
  light:      #f4f4f4,
  // lighter:    #fefefe,
  lighter:    #e7e7e7,
  // tertiary:   #696969,
  tertiary:   #5d5d5d,
  dark:       #000
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face {
  font-family: "Lato";
  src: url("../assets/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
