<ion-header no-border>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Confirm Pin</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-padding class="ionContent">

  <ion-list>
    <ion-item>
      <ion-input type="password" item-left text-center maxlength="1" readonly="true" [(ngModel)]="input1">{{input1}}</ion-input>
      <ion-input type="password" item-left text-center maxlength="1" readonly="true" [(ngModel)]="input2">{{input2}}</ion-input>
      <ion-input type="password" item-left text-center maxlength="1" readonly="true" [(ngModel)]="input3">{{input3}}</ion-input>
      <ion-input type="password" item-left text-center maxlength="1" readonly="true" [(ngModel)]="input4">{{input4}}</ion-input>
    </ion-item>
  </ion-list>
  <ion-digit-keyboard 
    (buttonClick)="onKeyboardButtonClick($event)"
    [align]="keyboardSettings.align"
    [width]="keyboardSettings.width"
    [visible]="keyboardSettings.visible"
    [leftActionOptions]="keyboardSettings.leftActionOptions"
    [rightActionOptions]="keyboardSettings.rightActionOptions"
    [roundButtons]="keyboardSettings.roundButtons"
    [showLetters]="keyboardSettings.showLetters"
    [swipeToHide]="keyboardSettings.swipeToHide"
    [theme]="keyboardSettings.theme"
  >
  </ion-digit-keyboard>

</ion-content>
