page-confirm-new-pin {
    background-image: url('../assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

    ion-item {
        padding-left: 20% !important;
    }

    ion-input {
        border: none !important;
        border-bottom: 2px solid map-get($colors, lighter) !important;
        color: white !important;
    }

     ion-list {
        padding-top: 20%;
    }

    .ionContent {
       background-color: rgba(map-get($colors, dark), 0.7);
    }
}

.md {
    page-confirm-new-pin {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}