@import 'font-awesome';

@mixin backgroundColor{
    background: #f8822c !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f8822c, #fdc844) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f8822c, #fdc844) !important;
}

.custom-button {
    @include backgroundColor();
}

ion-navbar {
    @include backgroundColor();
}

ion-input, ion-select {
    color: map-get($colors, primary) !important;
}