<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Survey</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button text-capitalize clear (click)="submitSurvey()">
        Submit
      </button>
    </ion-buttons>z
  </ion-navbar>

</ion-header>


<ion-content nopadding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-down"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list radio-group *ngFor="let d of surveyData; let i = index" [ngModel]="answerSurvey" (ngModelChange)="surveyAnswer($event, d, i)">
    <ion-list-header>
      <h2>{{d.Question}}</h2>
    </ion-list-header>

    <ion-item *ngFor="let s of d.AnswerObj">
      <ion-label>{{s.Answer}}</ion-label>
      <ion-radio [value]="s.Answer"></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>
