page-survey {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    background-color: map-get($colors, lighter);

    h2 {
        white-space: normal !important;
    }
}

.md {
    page-survey {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-survey {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}