<ion-content no-padding class="content">
  <!--<div id="image-container">--><img src="assets/images/leadway2.png" /><!--</div>-->

  <ion-list no-lines>
    <div (swipe)="swipeEvent($event)">

      <ion-item mode="md">
        <div id="h2" class="title-label">NEW USER</div>
        <hr>
        <ion-segment [(ngModel)]="userType" mode="md" color="secondary">
          <ion-segment-button value="pin">
            RSA Pin
          </ion-segment-button>

          <ion-segment-button value="email">
            Email
          </ion-segment-button>

          <ion-segment-button value="mobile">
            Mobile No
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <div [ngSwitch]="userType">
        <ion-item *ngSwitchCase="'pin'" class="ion-item">
          <ion-label stacked>RSA Pin</ion-label>
          <ion-input placeholder="Enter your RSA Pin" [(ngModel)]="pencomPin" (keyup)="enableSubmitButton('pin')">{{pencomPin}}</ion-input>
        </ion-item>

        <ion-item *ngSwitchCase="'email'" class="ion-item">
          <ion-label stacked>Email</ion-label>
          <ion-input type="text" placeholder="Enter your email" [(ngModel)]="email" (keyup)="enableSubmitButton('email')">{{email}}</ion-input>
        </ion-item>

        <ion-item *ngSwitchCase="'mobile'" class="ion-item">
          <ion-label stacked>Mobile No</ion-label>
          <ion-input type="tel" placeholder="Enter your mobile number" [(ngModel)]="mobileNo" (keyup)="enableSubmitButton('mobile')"
            maxlength="11">{{mobileNo}}</ion-input>
        </ion-item>
      </div>

      <ion-item>
        <button ion-button round id="submit-button" class="custom-button" (click)="submit()" [disabled]="disableButton" color="secondary">Submit</button>
      </ion-item>

      <ion-item style="padding-top: 50px;">
        <hr>
        <div class="parent-div" (click)="registerDevice()">
          <div class="title-label">EXISTING USER</div>
          <p>Register Device</p>
          <ion-icon name="md-phone-portrait" color="secondary"></ion-icon>
        </div>
      </ion-item>

      <ion-item>
        <button ion-button clear (click)="getHelp()" text-capitalize>
          Get Help
        </button>
      </ion-item>
    </div>
  </ion-list>

</ion-content>
