page-new-user-device {
    background-image: url('../assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    ion-list, div:first-child {

        ion-item:last-child, #h2, ion-label {
            color: white !important;
            font-weight: 700 !important;
        }
    }

    .content {
        background-color: rgba(map-get($colors, dark), 0.7);
    }

    ion-input {
        border-bottom: 1px solid white !important;
    }

    button {
        margin-left: auto !important;
        margin-right: auto !important;
        display: block !important;
    }

    button:last-child {
        color: white !important;
        font-weight: bold !important;
    }

    img {
        height: 200px;
        display: block;
        margin: 0 auto;
    }

    #ion-list {
        background-color: transparent !important;
    }

    #submit-button {
        width: 50%;
        height: 40px;
        text-transform: capitalize;
        font-weight: bold;
    }

    ion-segment-button {
        color: whitesmoke !important;
        font-weight: bold !important;
    }

    hr {
        border-top: 2px solid white;
    }

    ion-icon {
        font-weight: bolder;
        font-size: 25px;
        position: absolute;
        right: 18px;
        top: 0;
    }

    .parent-div {
        position: relative;
    }

    @media screen and (max-height: 600px) {
        img {
            height: 150px;
        }
    }

    .title-label {
        font-size: 16px !important;
    }
}

.wp {
    page-new-user-device {
        ion-input {
            border: 1px solid white !important;
        }
    }
}
