<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Calculator</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list>
    <button ion-item (click)="desiredPension()">
      <h3>How much do I need to contribute monthly to get my <strong>desired pension</strong>?</h3>
    </button>

    <button ion-item (click)="retirementCollection()">
      <h3>Based on my current contributions, how much can I collect when I retire?</h3>
    </button>
  </ion-list>

</ion-content>
