page-reset-pin {

    background-color: map-get($colors, lighter);

    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            // background-color: rgba(map-get($colors, primary),0.8);
            @include backgroundColor();
        }
    }

    ion-content {
        button {
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
            height: 40px !important;
            width: 50% !important;
        }

        ion-segment-button, button, ion-label, ion-input {
            font-weight: bold !important;
        }

        ion-label {
            color: map-get($colors, primary) !important;
        }

        ion-input {
            border-bottom: 2px solid map-get($colors, light) !important;
        }
    }
}

.md {
    page-reset-pin {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-reset-pin {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}

.wp {
    page-reset-pin {
        ion-input {
            border: 2px solid map-get($colors, primary) !important;
        }
    }
}
