<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Reset Pin</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list no-lines (swipe)="swipeEvent($event)">

    <ion-item mode="md">
        <ion-segment [(ngModel)]="userType" mode="md" color="primary">
            <ion-segment-button value="pin">
                RSA Pin
            </ion-segment-button>

            <ion-segment-button value="email">
                Email
            </ion-segment-button>

            <ion-segment-button value="mobile">
                Mobile No
            </ion-segment-button>
        </ion-segment>
    </ion-item>

    <div [ngSwitch]="userType">
        <ion-item *ngSwitchCase="'pin'" class="ion-item">
            <ion-label stacked>RSA Pin</ion-label>
            <ion-input placeholder="Enter your RSA Pin" [(ngModel)]="pencomPin" (keyup)="enableSubmitButton('pin')">{{pencomPin}}</ion-input>
        </ion-item>

        <ion-item *ngSwitchCase="'email'" class="ion-item">
            <ion-label stacked>Email</ion-label>
            <ion-input type="text" placeholder="Enter your email" [(ngModel)]="email" (keyup)="enableSubmitButton('email')">{{email}}</ion-input>
        </ion-item>

        <ion-item *ngSwitchCase="'mobile'" class="ion-item">
            <ion-label stacked>Mobile No</ion-label>
            <ion-input type="tel" placeholder="Enter your mobile number" [(ngModel)]="mobileNo" (keyup)="enableSubmitButton('mobile')" maxlength="11">{{mobileNo}}</ion-input>
        </ion-item>
    </div>

    <ion-item>
        <button ion-button round (click)="submit()" class="custom-button" [disabled]="disableButton" color="secondary">Submit</button>
    </ion-item>

  </ion-list>

</ion-content>
