<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Transaction Details</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list>
    <ion-item>
      <h3>Contribution Date</h3>
      <p>{{contributionDate}}</p>
    </ion-item>

    <ion-item>
      <h3>Unit Price</h3>
      <p>{{unitPrice}}</p>
    </ion-item>

    <ion-item>
      <h3>Units</h3>
      <p>{{unit}}</p>
    </ion-item>

    <ion-item>
      <h3>Employer Contribution</h3>
      <p>{{erContribution}}</p>
    </ion-item>

    <ion-item>
      <h3>Employee Contribution</h3>
      <p>{{eeContribution}}</p>
    </ion-item>

    <ion-item>
      <h3>Net Contribution</h3>
      <p>{{netContribution}}</p>
    </ion-item>
  </ion-list>

</ion-content>
