page-tran-detail {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }

        button {
            text-transform: capitalize !important;
            font-weight: bold !important;
        }
    }

    background-color: map-get($colors, lighter);

    ion-item {
        border-bottom: 2px solid map-get($colors, light) !important;
    }

    h3 {
        font-weight: bold !important;
    }

    p {
        color: map-get($colors, primary) !important;
    }
}

.md {
    page-tran-detail {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-tran-detail {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}