page-benefit-form {
    background-color: map-get($colors, lighter);

    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    ion-input, ion-select {
        font-weight: bold;
    }

    ion-list {
        ion-item {
            border-bottom: 2px solid map-get($colors, light) !important;
        }

        ion-item:last-child {
            border-bottom: none !important;
        }

        .p {
            color: map-get($colors, primary) !important;
            white-space: normal;
        }

        p {
            font-size: 16px !important;
        }

        h3 {
            font-size: 12px !important;
        }

        #acctName {
            color: map-get($colors, secondary) !important;
            font-size: 12px !important;
        }
    }

    ion-label, h3 {
        color: map-get($colors, dark) !important;
        font-weight: bold !important;
    }

    img {
        width: 60%;
        height: 60%;
    }

    ion-col {
        p {
            font-size: 10px !important;
        }

        div {
            border: 2px solid map-get($colors, light);
        }
    }

    ion-content {
        button {
            height: 45px !important;
            position: fixed !important;
            bottom: -5px;
            font-weight: bold !important;
        }
    }
}

.md {
    page-benefit-form {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-benefit-form {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}

.wp {
    page-benefit-form {
        ion-list {
            ion-item {
                border-bottom: none !important;
            }
        }

        ion-input, p {
            border: 2px solid map-get($colors, light) !important;
        }

        p {
            padding-left: 8px;
            padding-top: 8px;
            height: 45px;
        }

        .remove-border {
            padding-left: none;
            padding-top: none;
            height: none;
            border: none !important;
        }

        .ion-label {
            margin-bottom: -15px;
        }
    }
}
