<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Apply for Benefits</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button icon-only (click)="submit()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list no-lines>
    <ion-row>
      <ion-col text-center *ngFor="let d of documentData" col-3 col-sm-4 col-md-3 col-lg-2 col-xl-2>
        <div><img [src]="d.image" (click)="documentUploadPicker(d)"/></div>
        <p class="remove-border">{{d.docType}}</p>
      </ion-col>
    </ion-row>

    <ion-item *ngIf="paymentType === '7'">
      <ion-label stacked>Tax ID Number</ion-label>
      <ion-input [(ngModel)]="taxId" readonly>{{taxId}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Designation</ion-label>
      <ion-input type="text" [(ngModel)]="designation" placeholder="Enter your designation">{{designation}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Department</ion-label>
      <ion-input type="text" [(ngModel)]="department" placeholder="Enter your department">{{department}}</ion-input>
    </ion-item>

    <ion-item *ngIf="paymentType === '2'">
      <ion-label stacked class="ion-label">Reason for Disengagement</ion-label>
      <ion-select [(ngModel)]="disengageRsn" placeholder="Select a reason">
        <ion-option *ngFor="let d of disengageData" [value]="d">{{d}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Bank Account Name (Same as RSA Account Name)</ion-label>
      <ion-input type="text" [(ngModel)]="acctName" placeholder="Enter your account name" text-capitalize>{{acctName}}</ion-input>
      <p id="acctName">Account name must tally with the RSA account name</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Bank Account Number</ion-label>
      <ion-input type="tel" maxlength="10" [(ngModel)]="acctNum" placeholder="Enter your account number">{{acctNum}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>BVN</ion-label>
      <ion-input type="tel" [(ngModel)]="bvn" maxlength="11" placeholder="Enter your BVN">{{bvn}}</ion-input>
    </ion-item>

    <ion-item *ngIf="paymentType === '7'">
      <ion-label stacked>Enter Amount to Withdraw</ion-label>
      <ion-input type="number" [(ngModel)]="amount" placeholder="Enter withdrawal amount">{{amount}}</ion-input>
    </ion-item>

    <ion-item (click)="selectBank()">
      <h3>Bank</h3>
      <p *ngIf="bank === ''">Select a bank</p>
      <p class="p" *ngIf="bank !== ''">{{bank}}</p>
    </ion-item>

    <ion-item (click)="selectBankBranch()">
      <h3>Bank Branch</h3>
      <p *ngIf="bankBranch === ''">Select Bank before Bank Branch</p>
      <p class="p" *ngIf="bankBranch !== ''">{{bankBranch}}</p>
    </ion-item>
  </ion-list>

  <!--<button ion-button full text-capitalize color="primary" (click)="submit()">Submit</button>-->

</ion-content>
