page-chart-modal {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }

        button {
            font-weight: bold !important;
        }
    }

    background-color: map-get($colors, lighter);

    ion-item {
        width: 50% !important;

        ion-segment-button {
            font-weight: bold !important;
        }
    }
}

.md {
    page-chart-modal {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-chart-modal {
        ion-header {
            button {
                font-size: 14px !important;
            }
        }

        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}