<ion-header>

  <ion-navbar>
    <ion-title><span id="ionTitle" text-uppercase>Price Chart</span></ion-title>
    <ion-buttons end>
      <button ion-button clear text-capitalize (click)="close()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <div (swipe)="swipeEvent($event)">
    <ion-list>
      <ion-item>
        <ion-segment [(ngModel)]="chartType">
          <ion-segment-button value="lineChart" (click)="changeChartType('lineChart')">
            Line
          </ion-segment-button>

          <ion-segment-button value="barChart" (click)="changeChartType('barChart')">
            Bar
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </ion-list>

    <canvas #chartCanvas height="400px"></canvas>
  </div>

</ion-content>
