page-account {
    background-color: map-get($colors, lighter);
    height: 100%;

    ion-header{
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-toolbar {
            // background-color: rgba(map-get($colors, primary),0.8) !important;
            @include backgroundColor();
        }
    }

    ion-list:first-child {
        ion-item:first-child {
            border-top: 2px solid map-get($colors, light) !important;
        }

        ion-item {
            border-bottom: 2px solid map-get($colors, light) !important;
        }

        ion-item:last-child {
            border-bottom: none !important;
        }

        p {
            color: map-get($colors, primary) !important;
        }
    }

    ion-list:last-child {
        ion-item {
            border-bottom: 2px solid map-get($colors, light) !important;
        }

        ion-item:first-child {
            border-top: 2px solid map-get($colors, light) !important;
        }

        ion-item:last-child {
            border-bottom: none !important;
        }

        ion-note {
            font-weight: bold;
        }
    }

    h3, h2 {font-weight: bold !important;}

    ion-segment {
        padding-top: 5px;
        background-color: map-get($colors, lighter);

        ion-segment-button {
            font-weight: bold !important;
        }
    }

    #contribution-text {
        font-size: 14px; 
        color: white;
    }

    #contribution-value {
        font-size: 30px; 
        font-weight: bold;
        color: white;
    }

    #contribution {
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
        text-align: center;
    }
}