<ion-header>
  <ion-toolbar>
    <div id="contribution">
      <span id="contribution-value">{{contibutionValue}}</span><br>
      <span id="contribution-text">{{fundType}}</span>
    </div>
  </ion-toolbar>

  <ion-segment [(ngModel)]="homeDetails" mode="md">
    <ion-segment-button value="accountSummary">
      Summary
    </ion-segment-button>

    <ion-segment-button value="tranDetails">
      Statement
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content no-padding >
<div *ngIf="showPage">
  <div [ngSwitch]="homeDetails" id="home-details" (swipe)="swipeEvent($event)">

    <ion-list *ngSwitchCase="'accountSummary'">
      <!--<ion-item>
        <h3>Pencom Pin</h3>
        <p>{{pencomPin}}</p>
      </ion-item>-->

      <ion-item>
        <h3>Total Units</h3>
        <p>{{totalUnit}}</p>
      </ion-item>

      <ion-item>
        <h3>Unit Price Date</h3>
        <p>{{unitPriceDate}}</p>
      </ion-item>

      <ion-item>
        <h3>Unit Price</h3>
        <p>{{unitPrice}}</p>
      </ion-item>

      <ion-item>
        <h3>Last Credited Date</h3>
        <p>{{lastValueDate}}</p>
      </ion-item>

      <ion-item>
        <h3>Total Contribution</h3>
        <p>{{totalContribution}}</p>
      </ion-item>

      <ion-item>
        <h3>Investment Income</h3>
        <p>{{investedIncome}}</p>
      </ion-item>

      <ion-item>
        <h3>Total AVC Units</h3>
        <p>{{avcUnit}}</p>
      </ion-item>

      <!-- <ion-item>
        <h3>AVC Investment Income</h3>
        <p>{{avcInvestmentIncome}}</p>
      </ion-item> -->

      <ion-item>
        <h3>AVC Value</h3>
        <p>{{avcValue}}</p>
      </ion-item>
    </ion-list>

    <div *ngSwitchCase="'tranDetails'">
      <ion-list>
        <ion-item *ngFor="let t of transactionData" (click)="tranDetails(t)">
          <h3>{{t.dateField}}</h3>
          <p>{{t.descriptionField}}</p>
          <ion-note item-right color="primary">₦{{t.totalField}}</ion-note>
        </ion-item>
      </ion-list>
    </div>

  </div>

</div>

<!-- <ion-fab bottom right *ngIf="homeDetails === 'accountSummary' && showPage">
    <button ion-fab color="secondary" (click)="mailAccountSummary()">
      <ion-icon name="md-mail"></ion-icon>
    </button>
  </ion-fab> -->

<ion-fab bottom right *ngIf="homeDetails === 'tranDetails'">
  <button ion-fab color="secondary" (click)="listTransactions()">
    <ion-icon name="md-search"></ion-icon>
  </button>
</ion-fab>
  
</ion-content>