page-signature-pad {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    ion-content {
        background-color: map-get($colors, lighter) !important;

        button {
            font-size: 16px !important;
        }
    }

     button {
            font-weight: bold;
        }

    background-color: map-get($colors, lighter);
}

.md {
    page-signature-pad {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-signature-pad {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }

            ion-header {
                button {
                    font-weight: bold;
                    font-size: 12px;
                }
            }
        }
    }
}