<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>Signature Pad</span></ion-title>

    <ion-buttons right>
      <button ion-button text-capitalize (click)="leavePage('cancel')">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-list>
    <ion-item>
      <div class="signature-pad">
        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
      </div>
    </ion-item>

    <ion-item>
      <button ion-button item-right clear (click)="save()">Save</button>
      <button ion-button item-left clear (click)="clear()">Clear</button>
    </ion-item>
  </ion-list>

</ion-content>
