<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item-group no-lines>
    <ion-item-divider>PERSONAL DETAILS <hr></ion-item-divider>
    <div>
      <ion-item>
        <ion-label stacked>Title</ion-label>
        <ion-input [(ngModel)]="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input [(ngModel)]="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Middle Name</ion-label>
        <ion-input [(ngModel)]="middleName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Last Name</ion-label>
        <ion-input [(ngModel)]="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email Address</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Address</ion-label>
        <ion-input [(ngModel)]="address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Mobile No</ion-label>
        <ion-input [(ngModel)]="mobileNo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Date of Birth</ion-label>
        <ion-input [(ngModel)]="dob"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Gender</ion-label>
        <ion-input [(ngModel)]="gender"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>State of Origin</ion-label>
        <ion-input [(ngModel)]="stateOfOrigin"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>LGA</ion-label>
        <ion-input [(ngModel)]="lga"></ion-input>
      </ion-item>
    </div>
  </ion-item-group>

  <ion-item-group no-lines>
    <ion-item-divider>NEXT OF KIN DETAILS <hr></ion-item-divider>
    <div>
      <ion-item>
        <ion-label stacked>Title</ion-label>
        <ion-input [(ngModel)]="nokTitle"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input [(ngModel)]="nokName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email Address</ion-label>
        <ion-input [(ngModel)]="nokEmail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Mobile No</ion-label>
        <ion-input [(ngModel)]="nokMobileNo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Date of Birth</ion-label>
        <ion-input [(ngModel)]="nokDob"></ion-input>
      </ion-item>
    </div>
  </ion-item-group>

  <ion-item-group no-lines>
    <ion-item-divider>EMPLOYMENT INFORMATION <hr></ion-item-divider>
    <div>
      <ion-item>
        <ion-label stacked>Employer Name</ion-label>
        <ion-input [(ngModel)]="employerName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Date of 1st Employment</ion-label>
        <ion-input [(ngModel)]="dateOfEmployment"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Employer Address</ion-label>
        <ion-input [(ngModel)]="employerAddress"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Last Fund Received Date</ion-label>
        <ion-input [(ngModel)]="lastReceivedFundDate"></ion-input>
      </ion-item>
    </div>
  </ion-item-group>

</ion-content>
