<ion-header>

  <ion-navbar>
    <ion-title><span id="ionTitle" text-uppercase>Apply for Benefits</span></ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>

  <ion-list no-lines>
    <ion-item>
      <ion-label stacked class="ion-label">Payment Type</ion-label>
      <ion-select [(ngModel)]="paymentType" placeholder="Select a payment type">
        <ion-option *ngFor="let b of benefitType" value="{{b.approvalIDField}}">{{b.approvalNameField}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="paymentType === '7'">
      <ion-label stacked>TIN</ion-label>
      <ion-input type="text" [(ngModel)]="tin" placeholder="Enter your Tax ID Number">{{tin}}</ion-input>
    </ion-item>

    <button ion-item (click)="pickDate('dob', dob)" class="dateSelector" *ngIf="paymentType === '2'">
      <h3>Date of Birth</h3>
      <p *ngIf="dob === ''">Enter your date of birth</p>
      <p class="p" *ngIf="dob !== ''">{{dob}}</p>
    </button>

    <button ion-item (click)="pickDate('dod', dod)" class="dateSelector" *ngIf="paymentType === '2'">
      <h3>Date of Disengagement</h3>
      <p *ngIf="dod === ''">Enter date of disengagement</p>
      <p class="p" *ngIf="dob !== ''">{{dod}}</p>
    </button>
  </ion-list>

  <button ion-button text-capitalize class="custom-button" color="secondary" id="submitButton" round (click)="submit()" *ngIf="paymentType !== ''">
    Submit
  </button>

</ion-content>
