page-benefits {
    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            background-color: rgba(map-get($colors, primary),0.8);
        }
    }

    ion-input, ion-select, ion-label, h3, p {
        font-weight: bold !important;
    }

    ion-label {
        color: map-get($colors, dark) !important;
    }

    ion-item {
        border-bottom: 2px solid map-get($colors, light) !important;
    }

    ion-content {
        #submitButton {
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
            height: 40px !important;
            width: 50% !important;
            font-weight: bold !important;
        }
    }

    .dateSelector {
        border-bottom: 2px solid map-get($colors, light) !important;

        .p {
            color: map-get($colors, primary) !important;
            font-size: 16px !important;
        }

        p {
            font-size: 16px !important;
        }

        h3 {
            font-size: 12px !important;
        }
    }

    background-color: map-get($colors, lighter);
}

.md {
    page-benefits {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-benefits {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}

.wp {
    page-benefits {
        ion-item, .dateSelector {
            border-bottom: none !important;
        }

        .ion-label {
            margin-bottom: -15px;
        }

        p, ion-input {
            border: 2px solid map-get($colors, primary);
        }

        p {
            height: 45px;
            padding-top: 8px;
            padding-left: 8px;
        }
    }
}