<ion-header>

  <ion-navbar hideBackButton>
    <ion-title><span id="ionTitle" text-uppercase>FAQ</span></ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-down"
      pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let f of faqData" (click)="openFAQModal(f)">
      <h3>{{f.Questions}}</h3>
    </ion-item>
  </ion-list>

</ion-content>
