page-faq {
    background-color: map-get($colors, light);

    ion-header {
        background-image: url('../assets/images/8.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ion-navbar {
            // background-color: rgba(map-get($colors, primary),0.8);
            @include backgroundColor();
        }
    }

    ion-item {
        background-color: white !important;
        border-bottom: 2px solid map-get($colors, light) !important;
        height: 70px !important;
    }

    h3 {
        white-space: normal !important;
        font-weight: bold !important;
        color: black !important;
    }
}

.md {
    page-faq {
        #ionTitle {
            font-weight: bold !important;
        }
    }
}

.ios {
    page-faq {
        @media screen and (max-width: 330px) {
            #ionTitle {
                font-size: 12px;
            }
        }
    }
}
